@model IEnumerable<NegocioModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card border mt-2">
            <div class="card-header">
                <h3><strong>Lista de negocios</strong></h3>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <a asp-action="Create" asp-controller="Home" class="btn btn-primary"><i class="bi bi-bag-plus-fill"></i> Agregar Negocio</a>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-success" title="Exportar a Excel" id="btnExport" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="bi bi-filetype-csv"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" title="Exportar a PDF" id="btnExportPDF" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="bi bi-file-earmark-pdf"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-striped" id="NegociosTable" width="100%" cellspacing="0">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var negocio in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => negocio.NegocioId)</td>
                                    <td>@Html.DisplayFor(m => negocio.Nombre)</td>
                                    <td>@Html.DisplayFor(m => negocio.Descripcion)</td>
                                    <td>@Html.DisplayFor(m => negocio.Estado)</td>
                                    <td>
                                        <a class="btn btn-warning" title="Editar" asp-action="Edit" asp-route-id="@negocio.NegocioId"><i class="bi bi-pencil-square"></i></a>
                                        <a class="btn btn-success" title="Ver detalle" asp-action="Detail" asp-route-id="@negocio.NegocioId"><i class="bi bi-eye"></i></a>
                                        <a class="btn btn-danger" title="Eliminar" asp-action="Delete" asp-route-id="@negocio.NegocioId"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        new FilterTable('#NegociosTable');
    </script>
}

